/* Pinegrow generated Design Panel Begin */
@theme static {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-600: #d97706;
  --color-yellow-700: #b45309;
  --color-yellow-800: #92400e;
  --color-yellow-900: #78350f;
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;
  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fbcfe8;
  --color-pink-300: #f9a8d4;
  --color-pink-400: #f472b6;
  --color-pink-500: #ec4899;
  --color-pink-600: #db2777;
  --color-pink-700: #be185d;
  --color-pink-800: #9d174d;
  --color-pink-900: #831843;
  --color-primary-50: #f0f3ec;
  --color-primary-100: #dde4cb;
  --color-primary-200: #cad5aa;
  --color-primary-300: #b6c78b;
  --color-primary-400: #a3b86b;
  --color-primary-500: #8eaa4b;
  --color-primary-600: #799c27;
  --color-primary-700: #6f8f24;
  --color-primary-800: #658221;
  --color-primary-900: #5b751d;
  --color-primary-950: #51691a;
  --color-primary: #485c17;
  --color-secondary-50: #edeeeb;
  --color-secondary-100: #d1d5c5;
  --color-secondary-200: #b6bda1;
  --color-secondary-300: #9ba57d;
  --color-secondary-400: #808e5b;
  --color-secondary-500: #667739;
  --color-secondary-600: #4b6116;
  --color-secondary-700: #455914;
  --color-secondary-800: #3e5112;
  --color-secondary-900: #384911;
  --color-secondary-950: #32410f;
  --color-secondary: #2c390d;
  --color-tertiary-50: #f5ecec;
  --color-tertiary-100: #eecfcd;
  --color-tertiary-200: #e5b3ae;
  --color-tertiary-300: #da9690;
  --color-tertiary-400: #ce7a74;
  --color-tertiary-500: #c05d58;
  --color-tertiary-600: #b13e3e;
  --color-tertiary-700: #a23939;
  --color-tertiary-800: #933434;
  --color-tertiary-900: #852f2f;
  --color-tertiary-950: #772a2a;
  --color-tertiary: #692525;
  --color-neutral-50: #ebebeb;
  --color-neutral-100: #c4c4c4;
  --color-neutral-200: #9f9f9f;
  --color-neutral-300: #7b7b7b;
  --color-neutral-400: #585858;
  --color-neutral-500: #383838;
  --color-neutral-600: #1b1b1b;
  --color-neutral-700: #191919;
  --color-neutral-800: #171717;
  --color-neutral-900: #151515;
  --color-neutral-950: #131313;
  --color-neutral: #101010;
  --color-success-50: #ecf0ec;
  --color-success-100: #cdddcb;
  --color-success-200: #aec9ab;
  --color-success-300: #90b68c;
  --color-success-400: #71a36d;
  --color-success-500: #519050;
  --color-success-600: #2e7d32;
  --color-success-700: #2a722e;
  --color-success-800: #26682a;
  --color-success-900: #235e26;
  --color-success-950: #1f5422;
  --color-success: #519050;
  --color-warning-50: #fcefeb;
  --color-warning-100: #ffd9c7;
  --color-warning-200: #ffc4a4;
  --color-warning-300: #ffae7f;
  --color-warning-400: #fb985c;
  --color-warning-500: #f58238;
  --color-warning-600: #ed6c02;
  --color-warning-700: #d96302;
  --color-warning-800: #c55a02;
  --color-warning-900: #b25102;
  --color-warning-950: #9f4801;
  --color-warning: #f58238;
  --color-error-50: #f9ecec;
  --color-error-100: #f9cfca;
  --color-error-200: #f6b2a9;
  --color-error-300: #f19488;
  --color-error-400: #e97669;
  --color-error-500: #df564c;
  --color-error-600: #d32f2f;
  --color-error-700: #c12b2b;
  --color-error-800: #b02727;
  --color-error-900: #9e2323;
  --color-error-950: #8d2020;
  --color-error: #df564c;
  --color-info-50: #ebf1f9;
  --color-info-100: #d0dff2;
  --color-info-200: #b4ccec;
  --color-info-300: #96bbe5;
  --color-info-400: #76a9df;
  --color-info-500: #5098d8;
  --color-info-600: #0288d1;
  --color-info-700: #027cbf;
  --color-info-800: #0271ae;
  --color-info-900: #02669d;
  --color-info-950: #015b8c;
  --color-info: #5098d8;
  --font-sans: "'Proza Libre', sans-serif";
  --font-serif: "'Sora', sans-serif";
  --background-image-design-image: url('https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDMwfHxkb2d8ZW58MHx8fHwxNjgzMjc1MDI1&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=1200&fit=crop');
  --background-image-design-image-large: url('https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDMwfHxkb2d8ZW58MHx8fHwxNjgzMjc1MDI1&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=2000&fit=crop');
}
/* Pinegrow generated Design Panel End */
